<h1>Edit Employee</h1>

<h3>ID:</h3>
<p><%= @employee.id %></p>

<h3>Employer:</h3>
<p>ID <%= @employer.id %>, <%= @employer.first_name %> <%= @employer.last_name %></p>

<%= form_for @employee do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :first_name %><br />
    <%= f.text_field :first_name%><br />

    <%= f.label :last_name %><br />
    <%= f.text_field :last_name%><br />

    <%= f.submit "Submit" %>
    <%= link_to "Cancel", employees_path %>

<% end %>