<% provide(:title, "Employees") %>

<div class="jumbotron">
	<h1>Employees</h1>
	<%= link_to "Create new", new_employee_path, class: "btn btn-primary" %>
</div>

<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Employer ID</td>
				<th>Employer name</td>
				<th>Action</th>
			</tr>
		</thead>

		<tbody>
			<% @employees.each do |employee| %>
				<tr>
					<th><%= employee.id %></th>
					<td><%= employee.first_name %></td>
					<td><%= employee.last_name %></td>
					<td>ID <%= employee.employer_id %></td>
					<td><%= @employers.find(employee.employer_id).first_name %> <%= @employers.find(employee.employer_id).last_name %></td>
					<td>
						<div class="btn-group">
							<%= link_to "View", employee_path(employee), class: "btn btn-light-blue" %>
							<%= link_to "Edit", edit_employee_path(employee), class: "btn btn-light-blue" %>
							<%= link_to "Delete", employee, method: :delete, data: { confirm: "This action will delete the employee and any associated timesheets" }, class: "btn btn-default" %>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
