<h1>Employees</h1>

<% @employees.each do |employee| %>
    <p>ID: <%= employee.id %>, <%= employee.first_name %> <%= employee.last_name %> - <%= link_to "View", employee_path(employee.id) %> | <%= link_to "Edit", edit_employee_path(employee.id) %> | <%= link_to "Delete", employee, method: :delete, data: { confirm: "This action will delete the employee and any associated timesheets" }%><br />
    Employer: ID <%= employee.employer_id %></p>
<% end %>

<br />
<h4> Create new Employee:</h4>
<%= link_to "Create new", new_employee_path, class: "btn btn-primary" %>