<% provide(:title, "Employee " + @employee.id.to_s) %>

<div class="jumbotron">
    <h1>Employee <%= @employee.id %></h1>
    <%= link_to "Edit", edit_employee_path(@employee.id), class: "btn btn-primary" %>
    <%= link_to "Delete", @employee, method: :delete, data: { confirm: "This action will delete the employee and any associated timesheets" }, class: "btn btn-danger" %>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Name</th>
                <td><%= @employee.first_name %></td>
                <td  colspan="3"><%= @employee.last_name %></td>
            </tr>

            <tr>
                <th>Associated employer</th>
                <td>ID <%= @employer.id %></td>
                <td colspan="2"><%= @employer.first_name %> <%= @employer.last_name %></td>
                <td><%= link_to "View", employer_path(@employer), class: "btn btn-light-blue" %></td>
            </tr>

            <% if @employee.has_assoc_timesheets? %>
                    <tr>
                        <th rowspan="<%= @employee.assoc_timesheets_count %>">Associated timesheets</th>
                        <td>ID <%= @timesheets.first.id %></td>
                        <td colspan="2">Date: <%= @timesheets.first.date_of_service %></td>
                        <td><%= link_to "View", timesheet_path(@timesheets.first), class: "btn btn-light-blue" %></td>
                    </tr>

                    <% @timesheets.drop(1).each do |t| %>
                        <tr>
                            <td>ID <%= t.id %></td>
                            <td colspan="2">Date: <%= t.date_of_service %></td>
                            <td><%= link_to "View", timesheet_path(t), class: "btn btn-light-blue" %></td>
                        </tr>
                    <% end %>
                <% else %>
                    <tr>
                        <th>Associated timesheets</th>
                        <td colspan="4">Employee does not have associated timesheets</td>
                    </tr>
            <% end %>

<!-- REPORTS -->

            <tr class="info">
                <th colspan="5" class="text-center">ADDITIONAL INFO</th>
            </tr>

            <% if @employee.has_assoc_timesheets? %>
                    <tr>
                        <th rowspan="<%= @employee.assoc_budgets_count %>">Associated budgets</th>
                        <td>ID <%= @budgets.first.id %></td>
                        <td>Start: <%= @budgets.first.start_date %></td>
                        <td>End: <%= @budgets.first.end_date %></td>
                        <td><%= link_to "View", budget_path(@budgets.first), class: "btn btn-light-blue" %></td>
                    </tr>

                    <% @budgets.drop(1).each do |b| %>
                        <tr>
                            <td>ID <%= b.id %></td>
                            <td>Start: <%= b.start_date %></td>
                            <td>End: <%= b.end_date %></td>
                            <td><%= link_to "View", budget_path(b), class: "btn btn-light-blue" %></td>
                        </tr>
                    <% end %>
                <% else %>
                    <tr>
                        <th>Associated budgets</th>
                        <td colspan="4">Employee does not have associated budgets</td>
                    </tr>
            <% end %>
        </tbody>
    </table>
</div>



