<h1>Employee</h1>

<h3>ID</h3>
<p><%= @employee.id %></p>

<h3>Name</h3>
<p><%= @employee.first_name %> <%= @employee.last_name %>

<h3>Associated employer:</h3>
<p>ID <%= @employer.id %>, <%= @employer.first_name %> <%= @employer.last_name %></p>

<h3>Associated timesheets:</h3>
<% if @employee.has_assoc_timesheets? %>
    <% @timesheets.each do |t| %>
        <p><%= t.id %></p>
    <% end %>
<% else %>
    <p>Employee does not have associated timesheets</p>
<% end %>

<h3>Associated budgets:</h3>
<% if @employee.has_assoc_timesheets? %>
    <p><%= @first_budget.id %></p>
    <% @budgets.each do |b| %>
        <% if b.id != @first_budget.id %>
            <p><%= b.id %></p>
        <% end %>
    <% end %>
<% else %>
    <p>Employee does not have associated budgets</p>
<% end %>

