<% provide(:title, "Edit Timesheet") %>

<h1>Edit Timesheet</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <strong>ID: </strong><%= @timesheet.id %>
        <br></br>

        <strong>Employer: </strong>ID <%= @employee.id %>, <%= @employee.first_name %> <%= @employee.last_name %>
        <br></br>

        <strong>Budget: </strong>ID <%= @budget.id %>
        <br></br>

        <strong>Employer: </strong>ID <%= @employer.id %>, <%= @employer.first_name %> <%= @employer.last_name %>
        <br></br>

        <%= form_for @timesheet do |f| %>

            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :hours %>
            <%= f.number_field :hours, class: 'form-control' %>

            <%= f.label :date_of_service %>
            <%= f.date_field :date_of_service, class: 'form-control' %>

            <%= f.submit "Save changes", class: "btn btn-primary btn-lg btn-block" %>
            <%= link_to "Cancel", timesheet_path, class: "btn btn-info btn-block" %>

        <% end %>

    </div>
</div>