<% provide(:title, "Timesheet " + @timesheet.id.to_s) %>

<div class="jumbotron">
    <h1>Timesheet <%= @timesheet.id %></h1>
    <%= link_to "Edit", edit_timesheet_path(@timesheet.id), class: "btn btn-primary" %>
    <%= link_to "Delete", @timesheet, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger" %>
<!-- # aici in loc de @timesheet as putea pune destroy_timesheet_path(@timesheet)? care ii diferenta??? -->
</div>


<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Hours</th>
                <td colspan="4"><%= @timesheet.hours %></td>
            </tr>
            
            <tr>
                <th>Date of service</th>
                <td colspan="4"><%= @timesheet.date_of_service %></td>
            </tr>

            <tr>
                <th>Associated employee</th>
                <td>ID <%= @employee.id %></td>
                <td colspan="2"><%= @employee.first_name %> <%= @employee.last_name %></td>
                <td><%= link_to "View", employee_path(@employee), class: "btn btn-light-blue" %></td>
            </tr>

            <tr>
                <th>Associated budget</th>
                <td>ID <%= @timesheet.budget_id %></td>
                <td>Start: <%= @budget.start_date %></td>
                <td>End: <%= @budget.end_date %></td>
                <td><%= link_to "View", budget_path(@budget), class: "btn btn-light-blue" %></td>
            </tr>

<!-- REPORTS -->

            <tr class="info">
                <th colspan="5" class="text-center">ADDITIONAL INFO</th>
            </tr>

            <tr>
                <th>Associated employer</th>
                <td>ID <%= @employer.id %></td>
                <td colspan="2"><%= @employer.first_name %> <%= @employer.last_name %></td>
                <td><%= link_to "View", employer_path(@employer), class: "btn btn-light-blue" %></td>
            </tr>
        </tbody>
    </table>
</div>