<% provide(:title, "Edit Employer") %>

<h1>Edit Employer</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <strong>ID: </strong><%= @employer.id %>
        <br></br>
        
        <%= form_for @employer do |f| %>
            
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control' %>

            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control' %>
            
            <%= f.submit "Save changes", class: "btn btn-primary btn-lg btn-block" %>
            <%= link_to "Cancel", employer_path, class: "btn btn-info btn-block" %>
            
        <% end %>

    </div>
</div>