<h1>Edit Employer</h1>

<p>ID <%= @employer.id %>, <%= @employer.first_name %> <%= @employer.last_name %></p>

<%= form_for @employer do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :first_name %><br/ >
    <%= f.text_field :first_name %><br />

    <%= f.label :last_name %><br/ >
    <%= f.text_field :last_name %><br />

    <%= f.submit "Submit" %>
    <%= link_to "Cancel", employers_path %>
    
<% end %>