<% provide(:title, "Employer " + @employer.id.to_s) %>

<div class="jumbotron">
    <h1>Employer <%= @employer.id %></h1>
    <%= link_to "Edit", edit_employer_path(@employer.id), class: "btn btn-primary" %>
    <%= link_to "Delete", @employer, method: :delete, data: { confirm: "This action will delete the employer and any associated records" }, class: "btn btn-danger" %>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Name</th>
                <td><%= @employer.first_name %></td>
                <td colspan="3"><%= @employer.last_name %></td>
            </tr>

            <% if @employer.has_assoc_employees? %>
                    <tr>
                        <th rowspan="<%= @employer.assoc_employees_count %>">Associated employees</th>
                        <td>ID <%= @employees[0].id %></td>
                        <td colspan="2"><%= @employees[0].first_name %> <%= @employees[0].last_name %></td>
                        <td><%= link_to "View", employee_path(@employees[0]), class: "btn btn-light-blue" %></td>
                    </tr>

                    <% @employees.drop(1).each do |e| %>
                        <tr>
                            <td>ID <%= e.id %></td>
                            <td colspan="2"><%= e.first_name %> <%= e.last_name %></td>
                            <td><%= link_to "View", employee_path(e), class: "btn btn-light-blue" %></td>
                        </tr>
                    <% end %>
                <% else %>
                    <tr>
                        <th>Associated employees</th>
                        <td colspan="4">Employer does not have associated employees</td>
                    </tr>
            <% end %>

            <% if @employer.has_assoc_budgets? %>
                    <tr>
                        <th rowspan="<%= @employer.assoc_budgets_count %>">Associated budgets</th>
                        <td>ID <%= @budgets[0].id %></td>
                        <td>Start: <%= @budgets[0].start_date %></td>
                        <td>End: <%= @budgets[0].end_date %></td>
                        <td><%= link_to "View", budget_path(@budgets[0]), class: "btn btn-light-blue" %></td>
                    </tr>

                    <% @budgets.drop(1).each do |b| %>
                        <tr>
                            <td>ID <%= b.id %></td>
                            <td>Start: <%= b.start_date %></td>
                            <td>End: <%= b.end_date %></td>
                            <td><%= link_to "View", budget_path(b), class: "btn btn-light-blue" %></td>
                        </tr>
                    <% end %>
                <% else %>
                    <tr>
                        <th>Associated budgets</th>
                        <td colspan="4">Employer does not have associated budgets</td>
                    </tr>
            <% end %>

<!-- REPORTS -->

            <tr class="info">
                <th colspan="5" class="text-center">ADDITIONAL INFO</th>
            </tr>

            <tr>
                <th>Associated budgets' total hours</th>
                <% if @employer.has_assoc_budgets? %>
                        <td colspan="4"><%= @employer.total_budgets_hours %></td>
                    <% else %>
                        <td colspan="4">Employer does not have associated budgets</td>
                <% end %>
            </tr>

            <tr>
                <th>Associated timesheets' total hours from budgets' total hours</th>
                <% if @employer.has_assoc_budgets? %>
                        <td colspan="4"><%= @employer.timesheets_hours_from_budgets_hours %></td>
                    <% else %>
                        <td colspan="4">Employer does not have associated budgets</td>
                <% end %>
            </tr>

            <tr>
                <th>Budgets' total hours' usage rate</th>
                <% if @employer.has_assoc_budgets? %>
                        <td colspan="4"><%= @employer.budgets_hours_usage_rate %>%</td>
                    <% else %>
                        <td colspan="4">Employer does not have associated budgets</td>
                <% end %>
            </tr>

            <tr>
                <th>Associated budgets' total date range</th>
                <% if @employer.has_assoc_budgets? %>
                        <td>Start date: <%= @employer.budgets_start_date %></td>
                        <td colspan="3">End date: <%= @employer.budgets_end_date %></td>
                    <% else %>
                        <td colspan="4">Employer does not have associated budgets</td>
                <% end %>
            </tr>

            <tr>
                <th>Associated budgets' total number of days</th>
                <% if @employer.has_assoc_budgets? %>
                        <td colspan="4"><%= @employer.budgets_total_days %></td>
                    <% else %>
                        <td colspan="4">Employer does not have associated budgets</td>
                <% end %>
            </tr>

            <tr>
                <th>Associated budgets' total number of timesheets</th>
                <% if @employer.has_assoc_timesheets? %>
                        <td colspan="4"><%= @employer.assoc_timesheets_count %></td>
                    <% else %>
                        <td colspan="4">Employer does not have associated budgets</td>
                <% end %>
            </tr>
        </tbody>
    </table>
</div>

<!-- # apoi, ca idee, poti sa ai un fel de vizualizare statistica impartita de ex in calupuri pe bugete sau pe employees -->

