<h1>Employer</h1>

<h3>ID</h3>
    <p><%= @employer.id %></p>

<h3>Name</h3>
    <p><%= @employer.first_name %> <%= @employer.last_name %></p>

<h3>Associated employees:</h3>
    <% if @employer.has_assoc_employees? %>
        <% @employees.each do |e| %>
            <p>ID <%= e.id %>, <%= e.first_name %> <%= e.last_name %></p>
        <% end %>
    <% else %>
        <p>Employer does not have associated employees</p>
    <% end %>

<h3>Associated budgets:</h3>
    <% if @employer.has_assoc_budgets? %>
        <% @budgets.each do |b| %>
            <p>ID <%= b.id %></p>
        <% end %>
    <% else %>
        <p>Employer does not have associated budgets</p>
    <% end %>


<br />
<br />
<h3>Associated budgets' total hours</h3>
    <% if @employer.has_assoc_budgets? %>
        <p><%= @employer.total_budgets_hours %></p>
    <% else %>
        <p>Employer does not have associated budgets</p>
    <% end %>

<h3>Associated timesheets' total hours from budgets' total hours</h3>
    <% if @employer.has_assoc_budgets? %>
        <p><%= @employer.timesheet_hours_from_budgets %></p>
    <% else %>
        <p>Employer does not have associated budgets</p>
    <% end %>

<h3>Hours' usage rate: </h3>
    <% if @employer.has_assoc_budgets? %>
        <p><%= @employer.hours_usage_rate %>%</p>
    <% else %>
        <p>Employer does not have associated budgets</p>
    <% end %>

<h3>Associated budgets' total date range</h3>
    <% if @employer.has_assoc_budgets? %>
        <p>Start date: <%= @employer.budgets_start_date %> -- End date: <%= @employer.budgets_end_date %></p>
    <% else %>
        <p>Employer does not have associated budgets</p>
    <% end %>

<h3>Associated budgets' total number of days</h3>
    <% if @employer.has_assoc_budgets? %>
        <p><%= @employer.budgets_total_days %></p>
    <% else %>
        <p>Employer does not have associated budgets</p>
    <% end %>

<h3>Associated budgets' total number of timesheets</h3>
    <% if @employer.has_assoc_budgets? %>
        <p><%= @employer.total_timesheets_number %></p>
    <% else %>
        <p>Employer does not have associated budgets</p>
    <% end %>

<h3>Budget days' usage rate:</h3>
    <% if @employer.has_assoc_budgets? %>
        <p><%= @employer.days_usage_percentage %>%</p>
    <% else %>
        <p>Employer does not have associated budgets</p>
    <% end %>

<!-- apoi, ca idee, poti sa ai un fel de vizualizare statistica impartita de ex in calupuri pe bugete sau pe employees -->

<br />
<%= link_to "Delete", @employer, method: :delete, data: { confirm: "This action will delete the employer and any associated records" }, class: "btn btn-primary" %>